*.class
*.log

# sbt / Scala
target/
project/target/
project/project/

# IDE
.metals/
.bsp/
.vscode/
.idea/

# virtual machine crash logs
hs_err_pid*

# env / local config
.env
.env.local
application.local.conf

# OS files
.DS_Store
